body {
  background: #fff;
  color: #333;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 30px;
}

a {
  cursor: pointer;
}

section,
footer {
  margin: 60px auto;
  max-width: 500px;
  width: 100%;
}

footer {
  text-align: center;
  color: #aba7a4;
}

.lr-section--wide,
.lr-overlay-tile {
  max-width: 710px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Overpass Mono", monospace;
  text-align: center;
  text-transform: uppercase;
  color: #aba7a4;
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #333;
  text-decoration: underline;
}

.lr-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 200px;
}

.lr-icon {
  width: 34px;
  height: 34px;
  display: inline-block;
}

.lr-tile-button {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

.lr-tile-button > * {
  margin-left: 20px;
}

.lr-tile-button > :first-child {
  margin-left: 0;
}

.lr-tileButton-link {
  text-decoration: underline;
}

.lr-tileContainer {
  display: grid;
  grid-gap: 40px;
}

.lr-tile,
.lr-overlay-tile {
  border-radius: 8px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.lr-tile {
  animation: slide-up 0.8s ease-out;
  animation-iteration-count: 1;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lr-tile h1,
.lr-overlay-title {
  text-transform: inherit;
  color: inherit;
  font-size: 24px;
  margin: 0;
}

.lr-tile :last-child {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

.lr-tile :last-child > * {
  flex-grow: 0;
}

.lr-tile-button {
  text-align: center;
}

.lr-tile-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-out;
  width: 100vw;
}

.lr-overlay-tile {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 95%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-out, top 0.5s ease-out;
  width: 95%;
}

.lr-overlay.show {
  opacity: 1;
  pointer-events: initial;
}

.lr-overlay.show .lr-overlay-tile {
  opacity: 1;
  pointer-events: initial;
  top: 2.5%;
}

.lr-overlay-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}

.lr-overlay-title {
  flex: 1;
  text-align: left;
}

.lr-overlay-close {
  line-height: 1;
}

.lr-overlay-loading,
.lr-overlay-content {
  flex: 1;
}

.lr-overlay-content {
  display: flex;
  overflow-y: auto;
}

.lr-overlay-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-overlay-gameContainer {
  flex: 1;
}

.lr-inkContainer {
  flex: 1;
}

.lr-inkContainer > * {
  animation: slide-up 0.4s ease-out;
}

.lr-button {
  background: #000;
  border-radius: 8px;
  color: #fff;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.lr-button:hover {
  background: #333;
}

.lr-loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lr-icon {
  display: inline-block;
  height: 34px;
  width: 34px;
}

a .lr-icon {
  opacity: 0.2;
  transition: opacity 0.3s ease-out;
}

a:hover .lr-icon,
a:focus .lr-icon {
  opacity: 1;
}

.lr-icon--close {
  background: url("/icons/close.svg");
}

.lr-icon--externalLink {
  background: url("/icons/external-link.svg");
}

.lr-icon--loading {
  background: url("/icons/loading.svg");
  animation: loading-spinner 1.5s ease-in-out infinite;
}

.lr-icon--play {
  background: url("/icons/play.svg");
}

.lr-icon--twitter {
  background: url("/icons/twitter.svg");
}

.lr-icon--itch {
  background: url("/icons/itch-dot-io.svg");
}

@keyframes loading-spinner {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@media only screen and (min-width: 640px) {
  .lr-button {
    display: inline-block;
  }

  .lr-tileContainer {
    grid-template-columns: 1fr 1fr;
  }
}
