extends shared/layout.pug

block content
    section
        h1 About Me
        p I'm Corey, a storyteller and narrative designer and this is my portfolio.        
        p If you're looking for a game to play or a story to read then check out the links below!
    
    div#app
        div.lr-loadingContainer
            i.lr-icon.lr-icon--loading

block scripts
    script(src="/public/js/index.bundle.js")
    script(src="/public/js/vendors~inkjs.bundle.js")
    script(src="/public/js/vendors~markdown-it.bundle.js")
