extends shared/layout.pug

block content
    div#app
        div.lr-loadingContainer
            i.lr-icon.lr-icon--loading

block scripts
    script(src="/public/js/index.bundle.js")
    script(src="/public/js/vendors~inkjs.bundle.js")
    script(src="/public/js/vendors~markdown-it.bundle.js")
